<template>
  <div class="row">
    <router-view/>      
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "App",
  data: () => ({}),
  computed: {
    ...mapState({
      dados:(state) => state.dados
    }),
  },
};
</script>

<style>
</style>
