<template>
<div class="row">
    <div class="col s12">
        <p class="center">Sobre</p>
    </div>
</div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "Sobre",
  data: () => ({}),
  computed: {
    ...mapState({
      dados:(state) => state.dados
    }),
  },
};
</script>

<style>
</style>